

.hero-section {
  display: grid;
  grid-auto-rows: 1fr;
  background-color: #333333;
}

.hero-section footer {
  align-self: end;
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  max-height: 100%;
  height: 100vh;
}


.card.cardOne {
  display: grid;
  grid-template-rows: 500px 1fr;
  overflow: hidden;
}

.cardOne img, .cardTwo img {
  min-height: 100%;
  min-width: 100%;
}

.card.cardTwo {
  display: grid;
  grid-template-rows: 1fr 500px;
  overflow: hidden;
}