

.hero-section {
  background-image: url('../src/assets/images/Image0006.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  grid-column: ;
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 30px;
}