


main img {
  min-width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  height: 100%;
  min-height: 100vh;
}

main .col-1 {
  display: grid;
  gap: 10px;
  background-color: #242323;
  color: #fff;
}

.col-1 nav {
  padding: var(--space-md);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.15s;
}

nav a:hover {
  opacity: 0.2;
}

nav a:active {
  opacity: 0.5;
}


main .welcome {
  max-width: 500px;
  justify-self: center;
  align-self: center;
}

main footer {
  align-self: end;
  padding: var(--space-md);
  text-align: center;
}



main .col-2 {
  display: grid;
  grid-template-rows: 600px 1fr;
  gap: var(--space-md);
}

.col-2 div:nth-child(2) {
  padding: var(--space-md);
  align-self: center;
}


main .col-3 {
  display: grid;
  grid-template-rows: 1fr 500px;
}


.grid {
  display: grid;
  grid-auto-rows: 1fr;
}


.col-3 div:nth-child(1) {
  padding: var(--space-md);
  align-self: center;
}