


main img {
  border-radius: 0px;
  min-width: 100%;
  min-height: 100%;
}

main {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
}

main .col-1 {
  display: grid;
  gap: 10px;
  background-color: #242323;
  color: #fff;

  height: 100%;  /* Set the height to 100% to fill the parent */
  min-height: 100vh; /* Set the minimum height to 100vh */
}

.col-1 nav {
  padding: var(--space-md);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.15s;
}

nav a:hover {
  opacity: 0.2;
}

nav a:active {
  opacity: 0.5;
}


main .welcome {
  max-width: 500px;
  justify-self: center;
  align-self: center;
  padding: var(--space-md);
}

main footer {
  align-self: end;
  padding: var(--space-md);
  text-align: center;
}



main .col-2 {
  display: grid;
  grid-template-rows: 600px 1fr;
  gap: var(--space-md);
}

.col-2 div:nth-child(2) {
  padding: var(--space-md);
  align-self: center;
}


main .col-3 {
  display: grid;
  grid-template-rows: 1fr 500px;
}




.col-3 div:nth-child(1) {
  padding: var(--space-md);
  align-self: center;
}



@media screen and (max-width: 992px) {
  main {
    grid-template-columns: 1fr 1fr ;
  }

  main .col-3 {
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

}

@media screen and (max-width: 768px) {

  main {
    grid-template-columns: 100%;
    grid-template-rows: 1fr repeat(2, 500px);
  }

  main .col-2 {
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
    height: 100%
  }

  main .col-3 {
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 576px) {}